/* Arquivo CSS externo */

/* Definindo a cor de fundo da página */
body {
    background-color: pink;
  }
  
  /* Definindo o estilo do título */
  h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: white;
  }
  
  /* Definindo o estilo do parágrafo */
  p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
  }
  
  /* Definindo o estilo do formulário */
  form {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid white;
    background-color: lavender;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }
  
  /* Definindo o efeito de aumento do formulário ao passar o mouse */
  form:hover {
    transform: scale(1.05);
  }
  
  /* Definindo o estilo dos rótulos */
  label {
    display: block;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: purple;
  }
  
  /* Definindo o estilo dos ícones */
  i {
    margin-right: 5px;
  }
  
  /* Definindo o estilo dos campos de entrada */
  input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid purple;
    padding: 10px;
    outline: none;
  }
  
  /* Definindo o estilo dos campos de entrada ao receber o foco */
  input:focus, textarea:focus, select:focus {
    border-color: hotpink;
  }
  
  /* Definindo o estilo do botão de envio */
  input[type="submit"] {
    background-color: hotpink;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  